@import "./import.scss";

.title {
  background-color: #fafafa;
  .action {
    border: 1px solid $sub_color;
    padding: 8px 23px;
    color: $sub_color;
    border-radius: 21px;

    span {
      font-size: 18px;
    }
  }
}

.details {
  & > * {
    flex-shrink: 0;
  }
  * {
    font-size: 15px;
  }
  table {
    text-align: left;
    line-height: 22px;
    th {
      width: 30%;
    }
    td {
      font-weight: 300;
    }
  }
}