@import "./import.scss";

.title {
  background-color: #fafafa;
  .action {
    border: 1px solid $sub_color;
    padding: 8px 23px;
    color: $sub_color;
    border-radius: 21px;

    span {
      font-size: 18px;
    }
  }
}

.details {
  & > * {
    flex-shrink: 0;
  }
  * {
    font-size: 15px;
  }
  table {
    text-align: left;
    line-height: 22px;
    th {
      width: 30%;
    }
    td {
      font-weight: 300;
    }
  }
}

.profile {
  background-color: #fafafa;
  z-index: 2000;
  img.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    border: 1px solid #707070;
    align-self: flex-start;
    overflow: hidden;
    background: grey;
  }

  .profile-info {
    flex: 1;

    p {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

#history {
  .col1 {
    width: 60px;
    margin-right: 23px;
    line-height: 0;

    p.title {
      margin-top: -4px;
      font-size: 12px;
      letter-spacing: -0.24px;
      color: #000000;
    }
    small.date {
      text-align: left;
      font-size: 10px;
      letter-spacing: -0.2px;
      color: #707070;
      opacity: 1;
    }
  }

  .col2 {
    flex: 1;
    .description {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.24px;
      color: #707070;
      opacity: 1;
    }
  }
}

#profile-backdrop-filter {
  backdrop-filter: brightness(60%);
  -webkit-backdrop-filter: brightness(60%);
  position: fixed;
}
