@import "./import.scss";

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a,
button,
select,
textarea,
input {
  all: unset;
}

h1, h2, h3, h4, h5, h6, p, span {
  display: block;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

* {
  font-family: "NanumBarunGothic";
  box-sizing: border-box;
  flex-shrink: 0;
}

// Components
.pill.primary {
  border: 1px solid grey;
  padding: 10px 0;
  margin-right: 6px;
  color: #707070;
  &.selected {
    color: white;
    border: 1px solid $main_color;
    background-color: $main_color;
  }
}

.pill.secondary {
  display: inline-block;
  border: 1px solid grey;
  padding: 8px 16px;
  color: #707070;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 16px;

  &.selected {
    color: $main_color;
    border: 1px solid $main_color;
    background-color: white;
  }
}

.togather-action-button {
  background: $sub_color;
  color: white;
  font-size: 1.2rem;
  padding: 12px 33px;
  border-radius: 24px;
  opacity: 1;
}

input::placeholder {
  color: grey;
  -webkit-text-fill-color: grey;
}