@import "./import.scss";

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a,
button,
select,
textarea,
input {
  all: unset;
}

h1, h2, h3, h4, h5, h6, p, span {
  display: block;
}

* {
  font-family: 'NanumSquare', sans-serif;
  box-sizing: border-box;
  flex-shrink: 0;
}



// Components
.pill.primary {
  border: 1px solid grey;
  padding: 10px 0;
  margin-right: 6px;
  color: #707070;
  font-weight: bold;
  &.selected {
    color: white;
    border: 1px solid $main_color;
    background-color: $main_color;
  }
}

.pill.secondary {
  display: inline-block;
  border: 1px solid grey;
  padding: 8px 16px;
  color: #707070;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;

  &.selected {
    color: $main_color;
    border: 1px solid $main_color;
    background-color: white;
  }
}

.togather-action-button {
  background: $sub_color;
  color: white;
  font-size: 1.2rem;
  padding: 12px 33px;
  border-radius: 24px;
  opacity: 1;
}

input::placeholder {
  color: grey;
  -webkit-text-fill-color: grey;
}

#fab {
  position: fixed;
  bottom: 78px;
  right: 3px;
}