@import "./import.scss";

$top_bar_height: 60px;
$bottom_bar_height:73px;

.top-bar {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 500;
  height: $top_bar_height;
  width: 100%;
  @include flex(row, space-between, center);
  padding: 15px;

  h1 {
    color: #707070;
    -webkit-text-fill-color: #707070;
  }
}

.content {
  padding-top: $top_bar_height;
  padding-bottom: $bottom_bar_height;
  width: 100%;
  height: 100%;
  overflow: scroll;

  display: flex;
  flex-direction: column;
}

.bottom-bar {
  background-color: white;
  height: $bottom_bar_height;
  position: fixed;
  bottom: 0;
  z-index: 500;
  width: 100%;

  @include flex(row, space-around, center);
  .menu {
    @include flex(column, center, center);
    flex: 1;

    span {
      font-size: 28px;
      color: #707070;
      -webkit-text-fill-color: #707070;
    }

    div {
      font-size: 14px;
      font-weight: 300;
      color: #707070;
      -webkit-text-fill-color: #707070;
    }

    &.selected {
      span {
        fill: $main_color;
        color: $main_color;
        -webkit-text-fill-color: $main_color;
      }
      div {
        color: $main_color;
        -webkit-text-fill-color: $main_color;
      }
    }
  }
}

