html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a,
button,
select,
textarea,
input {
  all: unset;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

$main_color: #4fcee4;
$sub_color: #2ab2e7;
$ash_color: #b6b6b6;

* {
  font-family: "NanumBarunGothic";
  box-sizing: border-box;
  font-size: 1rem;
  flex-shrink: 0;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

.container {
  width: 100%;
  height: 100%;
  @include flex(column, flex-start, flex-start);
}

.main-color {
  color: $main_color;
  -webkit-text-fill-color: $main_color;
}
.sub-color {
  color: $sub_color;
  -webkit-text-fill-color: $sub_color;
}
.ash-color {
  color: $ash_color;
  -webkit-text-fill-color: $ash_color;
}

.full-width {
  width: 100%;
}

// UTILLS
.no-border {
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: row;
}

.flex-expanded {
  flex: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-center {
  text-align: center;
}

@for $i from 1 through 100 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 1 through 10 {
  .font-weight-#{$i} {
    font-weight: #{$i * 100};
  }
}

@for $i from 1 through 100 {
  .br-#{$i} {
    border-radius: #{$i}px;
  }
}

@for $i from 1 through 500 {
  .p-#{$i} {
    padding: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .px-#{$i} {
    padding-right: #{$i}px;
    padding-left: #{$i}px;
  }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
}

@for $i from 1 through 500 {
  .m-#{$i} {
    margin: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mx-#{$i} {
    margin-right: #{$i}px;
    margin-left: #{$i}px;
  }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
}

.align-center {
  align-self: center;
}

// @Components
.top-bar {
  width: 100%;
  height: 60px;
  @include flex(row, space-between, center);
  padding: 15px;

  h1 {
    color: #707070;
    -webkit-text-fill-color: #707070;
  }
}

.bottom-bar {
  background: white;
  width: 100vw;
  height: 73px;
  position: fixed;
  bottom: 0;

  @include flex(row, space-around, center);
  .menu {
    @include flex(column, center, center);
    flex: 1;

    span {
      font-size: 28px;
      color: #707070;
      -webkit-text-fill-color: #707070;
    }

    div {
      font-size: 14px;
      font-weight: 300;
      color: #707070;
      -webkit-text-fill-color: #707070;
    }

    &.selected {
      span {
        fill: $main_color;
        color: $main_color;
        -webkit-text-fill-color: $main_color;
      }
      div {
        color: $main_color;
      }
    }
  }
}

.pill.primary {
  border: 1px solid grey;
  padding: 10px 0;
  margin-right: 6px;
  color: #707070;
  &.selected {
    color: white;
    border: 1px solid $main_color;
    background-color: $main_color;
  }
}

.pill.secondary {
  display: inline-block;
  border: 1px solid grey;
  padding: 8px 16px;
  color: #707070;
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 16px;

  &.selected {
    color: $main_color;
    border: 1px solid $main_color;
    background-color: white;
  }
}
// ACTION
.togather-action-button {
  background: $sub_color;
  color: white;
  font-size: 1.2rem;
  padding: 12px 33px;
  border-radius: 24px;
  opacity: 1;
}

// utils

// 페이지별 스타일
.container.page-login {
  padding: 40px;
  color: white;
  font-weight: 300;

  form.login {
    @include flex(column, flex-end, center);
  }

  background: transparent linear-gradient(180deg, #2ab2e7 0%, #4fcee4 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: darken;

  input:not([type="submit"]) {
    width: 80%;
    border-bottom: 1px solid white;

    &::placeholder {
      color: white;
    }
  }

  input[type="submit"] {
    background-color: white;
    color: $main_color;
  }
}

.container.page-register {
  .input-row {
    @include flex(column, flex-start, center);

    .input-label-row,
    .input-field-row {
      @include flex(row, flex-start, center);
    }
  }

  .input-field-row {
    .action {
      flex: 1;
      background: #f2f2f2;
      border: 1px solid #b6b6b6;
      height: 45px;
      color: #707070;

      @include flex(column, center, center);
    }

    input {
      flex: 2.5;
      background-color: #fafafa;
      border: 1px solid #b6b6b6;
      height: 43px;

      margin-right: 5px;
    }
  }

  .input-label-row {
    padding: 5px 0;
  }

  padding: 105px 29px 0 29px;
}

.container.page-announcements,
.container.page-infos {
  .search-input {
    border: 1px solid #b6b6b6;
    span {
      color: #b6b6b6;
    }
  }
  .announcements,
  .infos {
    background: #f2f2f2;
    overflow: scroll;
    .announcement,
    .info {
      background: white;
      padding: 20px 15px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 14px;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-shrink: 0;
      p,
      h3 {
        display: block;
      }
      p {
        font-size: 15px;
        color: #b6b6b6;
        margin-bottom: 7px;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

.container.page-announcement-detail,
.container.page-info-detail {
  .title {
    background-color: #fafafa;
    .action {
      border: 1px solid $sub_color;
      padding: 8px 23px;
      color: $sub_color;
      border-radius: 21px;

      span {
        font-size: 18px;
      }
    }
  }

  .details {
    & > * {
      flex-shrink: 0;
    }
    * {
      font-size: 15px;
    }
    table {
      text-align: left;
      tr {
        padding: 5px;
      }
      th {
        width: 30%;
      }
      td {
        font-weight: 300;
      }
    }
  }
}

.container.page-apply {
  .apply-modal {
    width: 359px;
    min-height: 188px;
    background: transparent linear-gradient(180deg, #2ab2e7 0%, #4fcee4 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000017;
    border: 0.5px solid #858585;
    border-radius: 14px;
    color: white;

    .select-wrapper {
      border-radius: 16px;
      padding: 6px 12px 6px 18px;
      border: 1px solid white;
      color: white;
      font-size: 15px;

      .arrow-expand {
        transform: rotate(-90deg);
        position: relative;
        top: -4px;
        font-size: 15px;
      }
    }

    .apply-button {
      background: white;
      color: $main_color;
    }

    .send-icon {
      transform: matrix(0.94, -0.34, 0.34, 0.94, 0, 0);
      font-size: 60px;
    }
  }
}

.container.page-announcement-new {
  .input-wrapper {
    background: #fafafa;
    border: 1px solid #b6b6b6;
    flex: 1;

    input,
    select {
      height: 100%;
      padding: 6px 10px;
      font-size: 15px;
    }

    input.right-placeholder::placeholder {
      text-align: right;
    }
  }

  .field-name {
    font-size: 18px;
    margin-right: 25px;
    width: 80px;
    flex-shrink: 0;
  }

  input.input-raw {
    flex: 1;
    display: block;
    flex-shrink: 1;
    border: 1px solid #b6b6b6;
    background: #fafafa;
    width: auto;
    font-size: 15px;
    resize: both;
    min-width: 0;
    padding: 6px 10px;
  }

  select {
    color: #707070;
  }

  .action {
    border: 1px solid $sub_color;
    padding: 9px 35px;
  }
}

.container.page-bookmarks {
  .bookmarks {
    background: #f2f2f2;
    overflow: scroll;
    .bookmark {
      background: white;
      padding: 20px 15px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 14px;
      justify-content: space-between;
      margin-bottom: 10px;
      flex-shrink: 0;
      p,
      h3 {
        display: block;
      }
      p {
        font-size: 15px;
        color: #b6b6b6;
        -webkit-text-fill-color: #b6b6b6;
        margin-bottom: 7px;
      }
      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      &.disabled {
        background: #00000017;
        color: #b6b6b6;
        --webkit-text-fill-color: #b6b6b6;
      }
    }
  }
}
