@import "./import.scss";

.search-input {
  border: 1px solid #b6b6b6;
  span {
    color: #b6b6b6;
  }
}

.announcements,
.infos {
  background: #f2f2f2;
  overflow: scroll;
  .announcement,
  .info {
    background: white;
    padding: 20px 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-shrink: 0;
    p,
    h3 {
      display: block;
    }
    p {
      font-size: 15px;
      color: #b6b6b6;
      margin-bottom: 7px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
  }
}