@import "./import.scss";

.field-name {
  width: 100px;
  height: 31px;
  display: flex;
  align-items: center;
}

.field-input {
  flex: 1;
  background: #fafafa;
  border: 1px solid #b6b6b6;
  height: 31px;
  position: relative;

  input,
  select {
    $input-side-padding: 10px;
    width: calc(100% - #{2 * $input-side-padding});
    font-size: 15px;
    padding: 6px $input-side-padding;
  }

  input::placeholder {
    color: grey;
    -webkit-text-fill-color: grey;
  }

  input.right-placeholder::placeholder {
    text-align: right;
  }
}

textarea {
  background: #fafafa;
  border: 1px solid #b6b6b6;
}

.action {
  border: 1px solid $main_color;
  padding: 9px 22px;
}